@import url("./header.css");
@import url("./banner.css");
@import url("./demos.css");
@import url("./footer.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #fff;
  --font-color: #333;
  --font-primary: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: var(--font-primary);
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
}

.container {
  padding-inline: 14px;
  margin: 0 auto;
  max-width: 1440px;
}

ol {
  list-style: none;
}

a {
  color: var(--font-color);
  text-decoration: none;
}
